# Ignore everything in data
#data/*
data/raw_pdfs/
.env
__pycache__/
*.py[cod]

# But do NOT ignore this specific file (create this empty file)
!data/.gitkeep
!data/fintech_index_website_raw_data.csv
!data/keyword_inventory.csv